<div class="container">
<div class="row">
<div class="col-xs-8 col-xs-offset-2">
<div class="well well-lg">
<div class ="articles-title">
<%= link_to @product.owner_name, product_path(@product)%> 
</div>
<div class="article-body">
<%= @product.details%>

<div class="location-style">
<small> Item Location : <%= @product.location%></small>
</div>

<div class="article-meta-details">

<small>Created by: <%= @product.user.first_name   if @product.user%>,
                   <%= time_ago_in_words(@product.created_at)%> ago,
                   last updated: <%= time_ago_in_words(@product.updated_at)%> ago</small>

</div>
 
</div>

 <% if user_signed_in? && (current_user==@product.user || current_user.admin)%>

  <div class="article-actions">

<% if user_signed_in? && !current_user.active && (current_user==@product.user || current_user.admin)%>

<%= link_to "Delete this Item", product_path(@product), method: :delete,
data:{confirm: "Are you sure you want to delete this item?"}, class: "btn btn-xs btn-danger"%>
<%= link_to "Edit This Item",edit_product_path(@product), class: "btn btn-xs btn-primary"%>

<% end %>

<%= link_to "View all Items",products_path, class: "btn btn-xs btn-success"%>
<% if !@product.retrieved %>
   <%= link_to "Retrieve Item", retrieved_item_path(@product),
data:{confirm: "Are you sure you want to mark this Item as Retrieved?"}, class: "btn btn-xs btn-danger"%>
 
 <% else %>
 <td><%= link_to "Item Already Retrieved", "#", class: "btn btn-xs btn-default"%>
 <% end %>
</div>
 <% end %>

</div>
</div>
</div>
</div>
